  * {
    box-sizing: border-box;
    border-radius: 30px;
  }
   
  body {
    font-family: Arial;
    font-weight: bold;
    padding: 10px;
    background: url(./img/background-krzaqf.jpg) repeat-y fixed top;
    background-size: 100%;
  }
   
  /* header tag */

  .header {
    padding: 15%;
    overflow: hidden;
    text-align: center;
    background: url(./img/background-img1.png) repeat-y scroll top;
  }
  
  .headerp1 {
    color:rgb(250, 241, 225);
    font-size: 35px;
  }
   
  .headerh1 {
    color:rgb(250, 241, 225);
    font-size: 60px;
  }
  
  /* navigation tag */

  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #000000;
    background-image: url(./img/bottom.png);
    background-repeat: repeat-x repeat-y;
    text-align: center;
    width: 100%;
    height: 60px;
  }
  
  .link_box {
    margin-top: 15px;
    display: inline;
    height: 60px;
    width: 30%;
  }
  
  .a_link {
    padding: 10px 10px;
    text-align: auto;
    color: #f2f2f2;
    text-decoration: none;
  }

  .a_link:hover {
    background-color: #ddd;
    color: black;
  }
   
  /* column tag */

  .leftcolumn {   
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: rgba(241, 241, 241, 0.5);
    width: 72%;
  }
   
  .rightcolumn {
    margin-top: 20px;
    float: left;
    position: relative;
    left: 3%;
    width: 25%;
    background-color: rgba(241, 241, 241, 0.5);
  }

  /* card tag */

  .card1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  .card2 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin-top: 10px;
  }

  .card3 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 10px;
  }

  .card4 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .card5 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .card6 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
    background-image: url(./img/bottom.png);
  }
   
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  #headoftable1 {
    font-size: 30px;
  }

  .table1 {
    text-align: center;
    margin-left: 10%;
    border-collapse: collapse;
    border: 4px #000000 solid;   
    border-radius: 8px;
    width: 80%;
  }

  .table1 tr th,.table1 tr td {
    border: 2px #0f0f0f solid;
  }

  .join {
    border-radius: 0%;
  }

  /* tail tag */

  #thanks {
    padding: 1px 1px;
    color: #f2f2f2;
    text-decoration: none;
  }

  #thanks:hover {
    background-color: #ddd;
    color: black;
  }

  #gov {
    padding: 1px 1px;
    color: #f2f2f2;
    text-decoration: none;
  }

  #gov:hover {
    background-color: #ddd;
    color: black;
  }

  #download {
    padding: 3px 3px;
    color: black;
    text-decoration: none;
  }

  #download:hover {
    background-color: black;
    color: #f2f2f2;
  }